<p id="notice"><%= notice %></p>

<p>
  <strong>Testname:</strong>
  <%= @test.testname %>
</p>

<p>
  <strong>Id:</strong>
  <%= @test.id %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
